body {
  background-color: black !important;
  /* background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(180deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0;
  height: 100vh;
  margin: 0; */
}

.mis-gimnasios {
  /* Mis Gimnasios */
  font-size: 35px;
  /* identical to box height */

  color: white;
}

.app {
  margin: 20px;
  display: flexbox;
  justify-content: center;
}

.app-explorar-gimnasios-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
