.logo {
  width: 50px; /* Ajusta el ancho del logo según tus necesidades */
  height: auto; /* Mantiene la proporción del alto */
}
.navbar {
  background: #ffffff;
  border-bottom: #c4c2c2 solid 1px;
}

.nav-link {
  color: #3c3c3c;
}

.buscador {
  visibility: hidden;
  text-decoration: none;
  color: #3c3c3c;
}

.buscador input {
  border: #3c3c3c 1px solid;
}

.iniciar-sesion {
  color: #3c3c3c;
  border: #3c3c3c 1px solid;
}
